.cPost{
    background-color: #262626;
    width: 50%;
    border-radius: 20px;
}
.cPostHead
{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}
.svgPhoto
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cPostContainer
{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cPModal
{
    /* border-width: 1px; */
    margin-top: 10vh !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: 'translate(-50%, -50%)';
    width: 70%;
    background-color: 'background.paper';
    box-shadow: 24;
}
