*{
    -ms-overflow-style: none;

}

::-webkit-scrollbar {
    display: none;
}



.postImg{
    border: 0.5px solid #4d4d4d;
    opacity: 1;
}

.postImg:hover{

    border-radius: 3px;
    opacity: 0.7;
    cursor: pointer;
}

.main{
    flex: auto;
    position: relative !important;
    overflow: auto !important;
    min-height: "100vh";
    max-width: "100%" ;
    margin: 0;
}

.imgBG{
    width: 700;
    height: 750;
    overflow-y: "scroll";
    margin-top: 30px;
}