*{
    -ms-overflow-style: none;

}

::-webkit-scrollbar {
    display: none;
}

.postImg{
    border: 0.5px solid #4d4d4d;
    opacity: 1;
}

.postImg:hover{
    border-radius: 3px;
    opacity: 0.7;
    cursor: pointer;
}

.main{
    min-height: "100vh";
    max-width: 100vh ;
    margin: 0;
}

.gridContainer{
z-index: 1 !important;
}

.imgBG{
    width: 700;
    height: 750;
    overflow-y: "scroll";
    margin-top: 10px;
}


.searchy{
    width: 100% !important;
    z-index: 3;
}

.searchDiv{
    z-index: 2 !important;
    position: sticky;
    top: 0%;
    width:100%;
    padding-top: 1px;
    padding-bottom: 25px;
    background-color: black;
}