.mainBox{
    display: flex;
}


.imageBox{     
    width: 50%;
    height: 80vh;
}

.contentBox{
    width: 50%;
    height: 80vh;
    background-color: #131313;
}

.postImg{
    border-width: 2px !important;
    border-color: rgba(211,211,211,0.4) !important; 
    /* border-color: #131313!important; */
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.postImg:hover{
    opacity: 1.0 !important;
}
.post
{
    max-width:600px;
    padding-top: 50px;
}


.postHeader
{
    padding-left: 6%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.postAvatar
{
    margin-left: 5%;
    margin-right: 15px;
}

.postUser{
    font-size: 15px;
    font-weight: 300;
}

.postUser:hover{
    opacity: 1.0 !important;
    font-weight: 350;
    color: #0E9EDB;
}

.postInfo{
    color: #8E8E8E;
}