.post
{
    max-width:600px;
    padding-top: 50px;
}
.postImage
{
    width: 100%;
    object-fit: contain;    
    border: 0.5px solid lightgray;
    border-radius: 3px;
}
.postText
{
    margin-top: 10px;
    text-align: left;
    color: white;
    font-weight: normal;
}
.postUser
{
    text-align: left;
    color: white;
}
.postUser:hover
{
    color: gray;
    cursor: pointer;
}
.postHeader
{
    padding-bottom: 20px !important;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
}
.postAvatar
{
    margin-right: 15px;
    margin-left: 0 !important;
}
.moreSettings
{
    margin-left: auto;
    justify-self: flex-end;
    color: white;
}
.postDivider
{
    margin-top: 25px !important;
    background-color: lightgray;
    width: 100%;
}
.postLikes{
    display: flex;
    align-items: center;
    padding-top: 10px;
}