.profileHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainGrid{
    flex: auto;
    overflow: auto !important;
    margin: 0;
}

.profileRight
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profileLeft
{
    align-items: center;
    justify-content: center;
}

.profileFeed{
    width: 700;
    height: 100%;
    overflow-y: "scroll";
    margin-top: 50px;
    margin-bottom: 50px;
}

.profileDivider
{
    margin-top: 25px !important;
    background-color: lightgray;
    width: 100%;
}